@model PagedList.IPagedList<Sem3_2.Models.KhachHang>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@using (Html.BeginForm("Index", "KhachHangs", FormMethod.Get))
{
    <p>
        Tìm theo tên (Email): @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên Khách Hàng", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Địa Chỉ", "Index", new { sortOrder = ViewBag.AddressSortParm })
        </th>
        <th>
            Email
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdKH }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdKH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdKH })
            </td>
        </tr>
    }

</table>
<br />
@if (Model.PageCount > 0)
{
    <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
}

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))